.checkout__section {
  display: flex;
  border-bottom: 1px solid gray;
  padding: 20px;
  /* align-items: center; */
}

.checkout__sectionLeft {
  display: flex;
  flex: 0.2;
}

.checkout__sectionRight {
  padding-left: 20px;
  display: flex;
  flex: 0.8;
  flex-direction: column;
}
