$bg-image: url('/public/images/bg_1.jpg');

.App {
  text-align: center;
}

.jumbotron {
  background-image: url('/public/images/bg_1.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

// http://worldkings.org/Userfiles/Upload/images/Yale.jpg